In [1]:
print(' sssssssssss\n','s         s\n','s         s\n','s         s\n','s         s\n','sssssssssss\n\t\t')

 sssssssssss
 s         s
 s         s
 s         s
 s         s
 sssssssssss

In [2]:
num1 = 56.2
num2 = 46.8
sub = num1 - num2
print('the subsctraction of {0} and {1} is {2} '.format(num1,num2,sub))

the subsctraction of 56.2 and 46.8 is 9.400000000000006

In [4]:
num1 = input('enter the 1st number = ')
num2 = input('enter the 2nd number = ')
sub = float(num1) - float(num2)
print(sub)

enter the 1st number = 3.5
enter the 2nd number = 54.5
-51.0

In [14]:
num1 = 3.6
num2 = 3.98
multi = num1 * num2
print('the multipcation of {0} and {1} is   = {2}  '.format(num1,num2,multi))

the multipcation of 3.6 and 3.98 is   = 14.328

In [15]:
num1 = input('enter the first number =')
num2 = input('enter the second number =')
multi = float(num1) * float(num2)
print(multi)

enter the first number =5
enter the second number =9
45.0

In [25]:
num1 = 687
num2 = 54
div =  num1 / num2
print('division of {0} and {1} is    =  {2}'.format(num1,num2,div))

division of 687 and 54 is    =  12.722222222222221

In [34]:
print('the answer is = %.1f',(float(input('enter the 1st num')))/(float(input('enter the second number'))))

enter the 1st num100
enter the second number10
the answer is = %.1f 10.0

In [39]:
string = ('hello too all welcome to the world of python & python lets us all come togethger to learn a new language')
print(string)

hello too all welcome to the world of python & python lets us all come togethger to learn a new language

In [ ]:
a=a
b=b
a,b=a,b
print(a,b)

b,a=a,b
print(a,b)

In [6]:
a = float(input(" Please Enter the First Value a: "))
b = float(input(" Please Enter the Second Value b: "))

if(a > b):
    print("{0} is Greater than {1}".format(a, b))
elif(b > a):
    print("{0} is Greater than {1}".format(b, a))
else:
    print("Both a and b are Equal")

 Please Enter the First Value a: 5
 Please Enter the Second Value b: 8
8.0 is Greater than 5.0

In [11]:
my_string = 'hellow to all welcome to the world of python and lets us all come together to learn a new language'
words = my_string.split()
print(words)

['hellow', 'to', 'all', 'welcome', 'to', 'the', 'world', 'of', 'python', 'and', 'lets', 'us', 'all', 'come', 'together', 'to', 'learn', 'a', 'new', 'language']

In [10]:
my_string = 'hellow to all welcome to the world of python and lets us all come together to learn a new language'
words = my_string.split()
words.sort()
print(words)

['a', 'all', 'all', 'and', 'come', 'hellow', 'language', 'learn', 'lets', 'new', 'of', 'python', 'the', 'to', 'to', 'to', 'together', 'us', 'welcome', 'world']