In [4]:
name = "    abhi"

In [7]:
print(name)

    abhi

In [9]:
print(name.title())

    Abhi

In [14]:
fullname = 'ABHISHEK'
print(fullname)

ABHISHEK

In [11]:
print(fullname.upper())

ABHISHEK

In [12]:
print(fullname.lower())

abhishek

In [41]:
firstname = "abhi"
lastname = "patil"
sentence = f"{firstname.title()} {lastname.title()}"
print(sentence)

Abhi Patil

In [52]:
print('fav_sub\n','c\n\t','c++\n\t\t','opp\n','java\n\t','javascript\n\t\t','oracel\n\t\t\t','python\n\t\t\t')

fav_sub
 c
	 c++
		 opp
 java
	 javascript
		 oracel
			 python

In [53]:
name1="     abhi      "
print(name1)

     abhi

In [65]:
name1.lstrip()

'abhi     '

In [63]:
name1.rstrip()

'      abhi'

In [64]:
name1.strip()

'abhi'

In [10]:
student = ['Abhi','Pawan','Aniket','shubham']

In [11]:
print(student)

['Abhi', 'Pawan', 'Aniket', 'shubham']

In [12]:
type(student)

list

In [13]:
student = ['Abhi','Pawan','Aniket','shubham']

In [14]:
type(student)

list

In [15]:
print(student[2])

Aniket

In [16]:
print(student[3].title())

Shubham

In [17]:

print(student[1].upper())

PAWAN

In [93]:

print(student[1])

Pawan

In [94]:
#add a new element to the list

In [18]:
student.append('harshal')
print(student)

['Abhi', 'Pawan', 'Aniket', 'shubham', 'harshal']

In [101]:
student.insert(2,'baba fakir')
print(student)

['Abhi', 'Pawan', 'baba fakir', 'Aniket', 'shubham', 'harshal', 'harshal']

In [102]:
print(student[3])

Aniket

In [24]:
student

['Abhi', 'Pawan', 'Aniket', 'shubham', 'harshal', 'raju']

In [1]:
#how to add element

In [21]:
student.append('raju')
print(student)

['Abhi', 'Pawan', 'Aniket', 'shubham', 'harshal', 'raju']

In [4]:
student.insert(2,'rudraksha')
print(student)

['Abhi', 'Pawan', 'rudraksha', 'Aniket', 'shubham']

In [2]:
student = ['Abhi','Pawan','Aniket','shubham']

In [3]:
print(student)

['Abhi', 'Pawan', 'Aniket', 'shubham']

In [30]:
student.append('aakash')

In [31]:
print(student)

['Abhi', 'Pawan', 'Aniket', 'shubham', 'aakash']

In [33]:
student.insert(3, 'vinod')

In [34]:
print(student)

['Abhi', 'Pawan', 'Aniket', 'vinod', 'shubham', 'aakash']

In [35]:
#python prg to display the calenders

In [ ]:
#built-in function

In [4]:
import calendar
yy = 1997
mm = 7
print(calendar.month(yy, mm,))

     July 1997
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [13]:
#python programing to add two numbers

#ex. add two numbers

num1 = 37.69
num2 = 17.73
sum = num1 + num2
print('the sum of {0} and {1} is {2}'.format(num1,num2,sum))

the sum of 37.69 and 17.73 is 55.42

In [50]:
#example 2:
#add 2 numbers with user input

In [52]:
num1 = input('enter the first number: ')
num2 = input('enter the 2nd number: ')
num3 = input('enter the 3nd number: ')
sum = float(num1) + float(num2) + float(num3)
print(sum)

enter the first number: 5454.3546
enter the 2nd number: 54664.354343
enter the 3nd number: 3353
63471.708943

In [10]:
print('the sum is %.1f' %(float(input('enter first number: ')) + float(input('enter the second number: '))))

enter first number: 2
enter the second number: 5
the sum is 7.0